<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}      
        <main>
            {{ block "main" . }}{{ end }}
            <div class="posts">
                {{ range first 10 (where .Pages "Section" "posts") }}
                <article class="card">
                    <a href="{{ .Permalink }}">
                        <img src="{{ .Params.thumbnail }}">
                        {{ .Title }}
                    </a>
                </article> 
                {{ end }}
            </div>
        </main>
    </body>
</html>